<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Config | TimeEditEd</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <h1>Config <%-user%>
  </h1>
  <!-- <p><%-url %></p> -->
  <form action="" class="flexFix">
    <div>
      <input type="checkbox" id="option1" name="option1" value="option1" checked>
      <label for="option1">Ta bort tentamen, självstudier och liknande</label><br>

      <input type="checkbox" id="option2" name="option2" value="option2" checked>
      <label for="option2">Ta bort "Kurskod, Kursnamn" & "Rum, Hus" & ", Tentamen"</label><br>
    </div>
    <!-- <input type="checkbox" id="option3" name="option3" value="option3">
    <label for="option3"> I have a boat</label><br><br> -->
    <input type="submit" value="Spara" />
  </form>
  <p>Kopiera till ditt kalender program:</p>
  <a id="toCopy" href="https://timeedited.emrik.org/cal/<%-user%>.ics">https://timeedited.emrik.org/cal/<%-user%>.ics</a>
</body>

</html>